@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

html {
  font-size: 62.5%;
}

h1 {
  font-family: Roboto, sans-serif;
  font-size: 5rem;
  text-align: center;
}

p {
  font-size: 3rem;
  text-transform: capitalize;
  background-color: pink;
  color: white;
  text-shadow: 2px 2px 4px #000;
}

a {
  font-size: 2rem;
}

a:link {
  color: deeppink;
  text-decoration: none;
}
a:visited {
  color: black;
}
a:hover {
  color: blue;
  text-decoration: underline;
}
a:active {
  color: darkcyan;
}
