@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Roboto:wght@100;300;400&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

/*****FONT STYLE FOR EACH PAGE*****/
html {
  font-family: Roboto;
}
/*****FONT STYLE FOR EACH PAGE*****/

/*****FORMATING FOR NAV BAR BEGIN*****/
nav {
  text-align: center;
  margin: 50px;
  margin-bottom: 75px;
  font-size: 25px;
}

li {
  display: inline;
  margin: 10px;
}

a {
  text-decoration: none;
}

a:link {
  color: deeppink;
  text-decoration: none;
}
a:visited {
  color: palevioletred;
}
a:hover {
  color: deeppink;
  text-decoration: underline;
}
a:active {
  color: deeppink;
}

/*****FORMATING FOR NAV BAR END*****/

/** FORMATTING FOR HOMEPAGE BEGIN **/

h1 {
  text-align: center;
  font-family: Dongle;
  color: rgb(128, 145, 216);
  font-size: 92px;
  margin-bottom: -1px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  height: 500px;
  width: 340px;
  float: left;
  margin: 1%;
  padding: 1%;
}

.intro {
  font-size: 24px;
  color: rgb(175, 131, 131);
  margin: 1%;
  padding: 1%;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.intro-text {
  font-size: 24px;
  background-color: lavenderblush;
  color: rgb(141, 105, 105);
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  text-align: center;
}

footer {
  font-size: 16px;
  background-color: lavenderblush;
  color: rgb(175, 131, 131);
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  flex-flow: row wrap;
  padding: 5%;
}

/** FORMATTING FOR HOMEPAGE END **/

/** FORMATTING FOR PRODUCT PHOTOS BEGIN **/

.gallery {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  flex-flow: row wrap;
  padding: 5%;
}

.img-box {
  width: 300px;
  height: 435px;
  margin: 1%;
  margin-bottom: 5%;
}

.div2 {
  width: 700px;
  font-size: 24px;
  background-color: lavenderblush;
  color: rgb(141, 105, 105);
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
}

/** FORMATTING FOR PRODUCT PHOTOS END **/

/** FOR RESEARCH PAGE BEGIN **/

h2 {
  text-align: center;
  margin: 10px;
  margin-top: 20px;
  font-family: Dongle;
  line-height: 50%;
  color: palevioletred;
  font-size: 72px;
  padding: 5px;
}

.left-project-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-project-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.research-poster-left {
  width: 800px;
  height: 600px;
  float: left;
  margin: 2%;
}

.research-poster-right {
  width: 800px;
  height: 600px;
  float: right;
  margin: 2%;
}

/** FOR RESEARCH PAGE END **/

/** FOR ABOUT ME BEGIN**/
.about-me-pic {
  height: 500px;
  width: 400px;
  float: left;
  margin: 1%;
  padding: 1%;
}
/** FOR ABOUT ME END **/

/** FOR CONTACT PAGE BEGIN**/
.contact {
  text-align: center;
  font-family: Dongle;
  font-size: 48px;
  color: pink;
}

/** FOR CONTACT PAGE END**/
/****************************** THIS IS FOR TABLETS ******************************/

@media (min-width: 581px) and (max-width: 868px) {
  h1 {
    font-size: 75px;
  }

  .profile-pic {
    height: 450px;
    width: 300px;
  }

  .intro-text {
    font-size: 20px;
  }

  .page {
    flex-direction: column;
  }

  .contact {
    font-size: 38px;
  }

  .div2 {
    width: 450px;
    font-size: 20px;
  }

  h2 {
    font-size: 52px;
  }

  .left-project-page {
    flex-direction: column;
  }

  .right-project-page {
    flex-direction: column-reverse;
  }

  .research-poster-left {
    width: 650px;
    height: 433px;
  }
  .research-poster-right {
    width: 650px;
    height: 433px;
  }
  .about-me-pic {
    height: 350px;
    width: 270px;
  }
}
/****************************** THIS IS FOR TABLETS ******************************/

/****************************** THIS IS FOR MOBILE ******************************/

@media (max-width: 580px) {
  h1 {
    font-size: 60px;
  }

  .profile-pic {
    height: 400px;
    width: 260px;
  }

  .intro-text {
    font-size: 16px;
  }

  .page {
    flex-direction: column;
  }

  .contact {
    font-size: 30px;
  }

  .div2 {
    width: 300px;
    font-size: 16px;
  }

  h2 {
    font-size: 40px;
  }

  .left-project-page {
    flex-direction: column;
  }

  .right-project-page {
    flex-direction: column-reverse;
  }

  .research-poster-left {
    width: 500px;
    height: 325px;
  }
  .research-poster-right {
    width: 500px;
    height: 325px;
  }

  .about-me-pic {
    height: 300px;
    width: 220px;
  }
}
/****************************** THIS IS FOR MOBILE ******************************/
