@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Roboto:wght@100;300;400&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

/*****FONT STYLE FOR EACH PAGE*****/
html {
  font-family: Roboto;
}
/*****FONT STYLE FOR EACH PAGE*****/

/*****FORMATING FOR NAV BAR*****/
nav {
  text-align: center;
  margin: 50px;
  margin-bottom: 75px;
  font-size: 25px;
}

li {
  display: inline;
  margin: 10px;
}

a {
  text-decoration: none;
}

a:link {
  color: deeppink;
  text-decoration: none;
}
a:visited {
  color: palevioletred;
}
a:hover {
  color: deeppink;
  text-decoration: underline;
}
a:active {
  color: deeppink;
}

/*****FORMATING FOR NAV BAR*****/

h1 {
  text-align: center;
  margin: 50px;
  margin-top: 75px;
  font-family: Dongle;
  color: rgb(128, 145, 216);
  font-size: 92px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 50px auto;
  width: 75%;
  background-color: lavenderblush;
  vertical-align: top;
  border-radius: 10px;
}

.profile-pic {
  height: 500px;
  width: 340px;
  float: left;
  margin: 5%;
  padding: 1%;
}

.intro {
  font-size: 30px;
  color: rgb(107, 74, 74);
  margin: 1%;
  padding: 1%;
}

.info {
  font-size: 20px;
}

.bio {
  font-size: 16px;
  background-color: lavenderblush;
  color: rgb(175, 131, 131);
  text-shadow: 2px 2px 4px #ccabab;
}

.gallery {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  flex-flow: row wrap;
  padding: 5%;
}

.img-box {
  width: 300px;
  height: 435px;
  margin: 1%;
  margin-bottom: 5%;
}

.div2 {
  width: 700px;
  background-color: lavenderblush;
  color: rgb(141, 105, 105);
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.contact {
  text-align: center;
  font-family: Dongle;
  font-size: 48px;
  color: pink;
}

footer {
  font-size: 16px;
  background-color: lavenderblush;
  color: rgb(175, 131, 131);
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  flex-flow: row wrap;
  padding: 5%;
}

/****************************** THIS IS FOR TABLETS ******************************/

@media (min-width: 581px) and (max-width: 868px) {
  h1 {
    font-size: 75px;
  }
  /**
  p {
    font-size: 15px;
  }
  **/

  .profile-pic {
    height: 450px;
    width: 300px;
  }

  .intro {
    font-size: 20px;
  }

  .contact {
    text-align: center;
    font-family: Dongle;
    font-size: 38px;
    color: pink;
  }

  .div2 {
    width: 450px;
  }
}
/****************************** THIS IS FOR TABLETS ******************************/

/****************************** THIS IS FOR MOBILE ******************************/

@media (max-width: 580px) {
  h1 {
    font-size: 40px;
  }

  /**
  p {
    font-size: 12px;
  }
  **/

  .profile-pic {
    height: 400px;
    width: 260px;
  }

  .intro {
    font-size: 16px;
  }

  .contact {
    text-align: center;
    font-family: Dongle;
    font-size: 30px;
    color: pink;
  }
  .div2 {
    width: 300px;
  }
}
/****************************** THIS IS FOR MOBILE ******************************/
